body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    /* Light blue background */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23465B;
    color: white;
    padding: 10px 25px;
}

.admin-bar {
    background-color: #295A77;
    color: white;
    padding: 10px 25px;
    font-family: 'Arvo', serif;
    transition: transform 0.3s ease; /* Add transition effect */
}

.admin-bar.collapsed {
    transform: translateX(-100%); 
    max-height: 0;
    width: 0;
    padding: 0;

}

.admin-bar h3 {
    margin: 0;
    font-size: 18px;
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 20px;
}

#menu-toggle {
    position: absolute;
    left: 200px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 1250px;
    width: 200px; /* Adjust logo width as needed */
    height: auto;
}

.container {
    display: flex;
    background-color: #23465B;
    margin-top: 0px; /* Adjust this value based on the height of your top bar */
}

.sidebar {
    width: 200px;
    background-color: #20c997;
    transition: width 0.3s ease; /* Smooth transition for sidebar */
    overflow: hidden; /* Prevents content from spilling out when sidebar is collapsed */
}

.collapsed {
    width: 0;
    padding: 0; 
}

.sidebar .admin-box {
    font-family: 'Arvo', serif;
    background-color: #295A77;
    color: white;
    padding: 20px;
    margin-bottom: 0;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .admin-box h3 {
    margin: 0;
    font-size: 18px;
}

.sidebar .admin-separator {
    border-top: 2px solid black;
    margin-bottom: 20px;
}

.sidebar .nav-box {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.sidebar .nav-box a {
    text-decoration: none;
    color: black;
    display: block;
    flex-grow: 1;
}

.sidebar .nav-box i {
    margin-right: 10px;
}

.sidebar .nav-box.active {
    background-color: white;
}

.sidebar .nav-separator {
    height: 10px;
    background-color: transparent;
}

.content { 
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Light background for main content */
    margin-top: 10px; /* Additional space from the top of the container */
    color: #23465B; /* Text color for contrast */
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #D0D1D1; /* Light background for main content */
    margin-top: 10px; /* Additional space from the top of the container */
    color: #23465B; /* Text color for contrast */
    display: flex;
    flex-direction: column;
}

.content-header h1 {
    font-size: 24px; /* Larger font size for header */
    color: #23465B; /* Dark text color for contrast */
    padding-bottom: 10px; /* Space below the header */
}

.user-controls button, .user-controls input {
    padding: 8px 16px; /* Uniform padding for button and input */
    font-size: 16px; /* Larger font size for better readability */
}

.user-controls input {
    flex-grow: 1; /* Allow search input to take up remaining space */
    margin-left: 20px; /* Space between button and input */
}

table {
    width: 100%; /* Ensure table uses full available width */
    border-collapse: collapse; /* Remove double borders */
    margin-top: 20px; /* Add space between controls and table */
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px 15px; /* Adjust padding for better spacing */
}

th, td {
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #ffffff; /* Light grey background for headers */
    color: #23465B; /* Dark text color for better readability */
}

table td button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #20c997; /* Teal background for buttons */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners for buttons */
    cursor: pointer;
}

table tr:nth-child(even) {
    background-color: #dfe0e0;  /* Adds zebra striping to table */
}

table th, table td {
    text-align: left;  /* Ensures text is aligned to the left */
    padding: 12px 15px;  /* Adjusts padding for spacing */
}

table td button:hover {
    background-color: #17a2b8;  /* Change color on hover */
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;  /* Highlight row on hover */
}

.pagination {
    font-size: 16px; /* Larger font size for pagination text */
    color: #666; /* Darker text for better readability */
    padding-top: 10px; /* Space above pagination text */
}

.nav-box.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-box.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-box.dropdown .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-box.dropdown .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.content input[type="text"],
.content input[type="email"],
.content input[type="password"] {
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 10px; 
    width: 100%;
    margin: 10px 0;
    border-radius: 7px; 
    max-width: 600px;
}

.input-group select {
    width: 10%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

#createAccountBtn {
    background-color: #20c997;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    max-width: 20%;
}

#createAccountBtn:hover {
    background-color: #269070;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #23465B;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal .header h1 {
    color:white;
}

.modal .message p{
    color:#20c997
}

.buttons button {
    width: 150px; /* Increased from 100px to 150px for larger button width */
    padding: 15px; /* Increased padding for a larger button height */
    margin: 10px; /* Optionally increase margin for better spacing between buttons */
    border: none;
    border-radius: 8px; /* Slightly larger radius for a smoother corner curve */
    font-size: 18px; /* Larger font size for better readability */
    cursor: pointer;
    transition: background-color 0.3s;
}

.no {
    background-color: #ccc; /* Light gray */
    color: black;
}

.no:hover {
    background-color: #b0b0b0; /* Slightly darker gray on hover */
}

.yes {
    background-color: #20c997; /* Green */
    color: white;
}

.yes:hover {
    background-color: #45A049; /* Slightly darker green on hover */
}

