<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="forgot-password-styling.css">
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="header">
                <a href="../login/Login.html">Login</a> <p> > Reset your password </p>
            </div>
            <h1>Reset Your Password</h1>
            <p>Please enter the email/username you are registered on IvenTrack with.</p>
            <form action="/submit-your-form-handler" method="POST">
                <input type="text" id="email" name="email" placeholder="Email / username" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
